In [33]:
from context import cpm

import cpm.functions as functions
from cpm.variables import *
import cpm.agenda as agenda

# Every time we change a module they are reload before executing 
%reload_ext autoreload
%autoreload 2

AULA = '3'

### Carrega a alocação
Itera todas as planilhas de feedback, carrega a aba de alocação e formata de maneira tabular

In [41]:
alocacao = agenda.carrega_alocacao().dropna(subset=["Nome", "Aula"])
alocacao.head()

Carregando Alocação: A1
Carregando Alocação: A2
Carregando Alocação: B1
Carregando Alocação: B2
Carregando Alocação: C1
Carregando Alocação: C2
Carregando Alocação: D1
Carregando Alocação: D2
Carregando Alocação: E1
Carregando Alocação: E2
Carregando Alocação: F
Carregando Alocação: G1
Carregando Alocação: G2
Carregando Alocação: H
Carregando Alocação: I
Carregando Alocação: J
Carregando Alocação: EA

         Data Aula                              Nome
0  2019-08-04    1  Jaqueline Dias Conde de Carvalho
1  2019-08-04    1         Fabiana Guimaraes Canello
2  2019-08-04    1                    Daniela Franco
3  2019-08-04    1               Melissa Mara Sferra
4  2019-08-04    1           Isabela Gardenal Ometto

Este método `.dropna(subset=["Nome", "Aula"])` ignora as linhas com a aula ou nome vazios

### Lê a agenda para verificar em qual linha termina

In [42]:
agenda_joao = functions.load_df_from_sheet(ALOCACAO, "Agenda").dropna(subset=["Nome"])
agenda_joao.tail()

,Data,Aula,Nome,Presente?,Turma,Telefone,Email Pessoal,Email CPM
128,2019-08-25,3,Aline Aguiar,True,I,(15) 997175205,alineaguiar96@gmail.com,aline.aguiar@cidadaopromundo.org
129,2019-08-25,3,Anastasia Valentinovna Gorskaya,True,J,(11) 947222278,gorskayaa@yahoo.com,anastasia.gorskaya@cidadaopromundo.org
130,2019-08-25,3,Raul Cardoso,True,J,(11) 957620287,raul.cardoso@cidadaopromundo.org,raul.cardoso@cidadaopromundo.org
131,2019-08-18,2,Adriana Fernandes de Araújo,True,J,(11) 981615548,adrifaraujo@gmail.com,adriana.araujo@cidadaopromundo.org
132,2019-08-18,2,Helena Cristina de Souza Carias,True,J,(11) 989764475,csc.helena@gmail.com,helena.carias@cidadaopromundo.org

In [43]:
agenda_joao.shape

(133, 8)

In [44]:
linha_vazia = agenda_joao.shape[0] + 2

### Filtra a alocação somente para a aula atual

In [45]:
alocacao = alocacao[alocacao["Aula"] == AULA]

In [46]:
functions.salva_aba_no_drive(alocacao, ALOCACAO, "Agenda", row=linha_vazia)